<p>
    I built a rasterization engine from the ground up in python, as a part of the curriculum for a computer graphics class at RIT.
</p>
<img src="./giraffe.png">
<img src="./giraffe-spiral.png">
<img src="./chess.png">

<style>
    img {
        max-width: 20rem;
    }
</style>