<p>
    Here's a little bit about what I did

    <li>
      <a href="projects/emotion-estimation">
        <img src="./green-reflectance -factor.png">
        <span>Green Reflectance Factor</span>
      </a>
    </li>
</p>