
.projects {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;

  li {
    margin: 0;
  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    background: #ecc;
    border-radius: 0.5rem;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
    img {
      width: 100%;
      border-radius: 0.5rem;
    }
    span {
      text-decoration: none;
      padding: 0.5rem 0;
      text-align: center;
    }
  }
}