header {
  background-image: url("./aboutme/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;

  > strong {
    font-size: 2rem;
    background-color: rgb(246, 220, 173);
    padding: 0.1rem 0.2rem;
    border-radius: 0.5rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1rem;

    li {
      background-color: rgb(246, 220, 173);
      padding: 0.1rem 0.2rem;
      border-radius: 0.3rem;

      a {
        text-decoration: none;
        font-weight: bold;
        color: black;
      }
    }
  }
}

.profile-picture {
  width: 15rem;
  border-radius: 15rem;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  margin: 0;

  li {
    margin: 0;
    background-color: rgb(243, 230, 238);
    border-radius: 1rem;

    #research & {
      background-color: rgb(240, 199, 169);
    }

    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      gap: 0.5rem;

      &:hover,
      &:focus-visible {
        text-decoration: underline;
      }
    }

    img {
      width: 90%;
      margin: auto;
      aspect-ratio: 16 / 9;
      object-fit: contain;
      display: block;
    }

    span {
      color: black;
      text-align: center;
    }
  }
}