<p>
    Here's a little bit about what I did
    <li>
      <a href="projects/emotion-estimation">
        <img src="./architecture.png">
        <span>EmoNet Architecture</span>
      </a>
    </li>
    <li>
      <a href="projects/emotion-estimation">
        <img src="./EmoNet.png">
        <span>Architecture</span>
      </a>
    </li>
     
    <li>
      <a href="projects/emotion-estimation">
        <img src="./fine-tuning.png">
        <span>Fine Tuning</span>
      </a>
    </li>
</p>